@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="container">
    @using (Html.BeginForm())
    {
        foreach (var bookmark in ViewBag.PublicBookmarks)
        {
            <div id="LeftColumn" style="float: Left; padding-left: 50px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Url</th>
                            <th>UserName</th>
                            <th>Created</th>
                            <th>Details</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@bookmark.Title</td>
                            <td>@bookmark.Url</td>
                            <td>@bookmark.Owner.UserName</td>
                            <td>@bookmark.Created</td>
                            <td>@Html.ActionLink("Details", "Details", new { id = bookmark.Id })</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        }

    }
</div>